

pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.npm
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.cache
.next
.nuxt
dist
.cache/
.vuepress/dist
.vscode/
credentials.json
*secret*
token.json
.coveralls.yml

